 RESET STYLES
----------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: normal;
	vertical-align: baseline;
	background: transparent;
	border: 0;
	outline: 0;
}

/* HTML5 RESETS FOR OLDER BROWSERS */
article, aside, figure, figure img, hgroup, footer, header, nav, section {
	display: block;
}

/*ol, ul { list-style: none; }*/
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }
a img { border: 0; }
:focus { outline: 0; }
a:hover, a:active { outline: none; }

/* FONT IMPORTS
----------------------------------------------- */

/* source sans pro */
/*@font-face {
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Montserrat', sans-serif;
}*/


/* GENERAL STYLES
----------------------------------------------- */

html {color: #FFFFFF; background-color: #E62423; font-family: 'Source Sans Pro', sans-serif;}
body {margin: 0}
header {
	position: relative;
	height: 60px;
	width: 100%;
	background-color: white;
	z-index: 40;
	text-align: center;
}

/* ----- SELECTION COLORS ----- */


/* PAGE STRUCTURE
----------------------------------------------- */

/* Splash Screen */

#splash {
	height: 100vh;
}

.head-text {
	top: 30%;
	position: absolute;
	width: 100%;
	text-align: center;
}

#N, #Y {
	vertical-align: middle;
	visibility: hidden;
}

#hack {
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.head-text h1 {
	font-size: 3vmin;
	font-weight: 300;
	display: none;
}

header .container {
	vertical-align: middle;
	display: inline-block;
}

.container {
	padding-left: 5px;
	padding-right: 5px;
	margin-right: auto;
	margin-left: auto;
}

header .container a {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: black;
	text-decoration: none;
	width: 19%;
	height: 100%;
}

header .container a h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #dd2428;
}

#logo {
	width: 100%;
}




/* WIDE DESKTOP LAYOUT 
----------------------------------------------- */
@media only screen and (min-width: 992px) {
	.head-text {height: 178px;}
	#N, #Y {
		width: 70px;
		padding-right: 60px;
		padding-left: 60px;
	}
	.container {
		width: 962px;
	}

} /* CLOSE WIDE LAYOUT */

/* TABLET LAYOUT 
----------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/*html {background-color: blue;}*/
	.head-text {height: 136px;}
	#N, #Y {
		width: 53px;
		padding-right: 46px;
		padding-left: 46px;
	}
	#hack img {width: 390px;}
	.container {width: 738px;}
} /* CLOSE TABLET LAYOUT */

/* WIDE MOBILE LAYOUT (LANDSCAPE/480PX) 
----------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	/*html {background-color: yellow;}*/
	.head-text {height: 87px;}
	#N, #Y {
		width: 34px;
		padding-right: 29px;
		padding-left: 29px;
	}
	#hack img {width: 251px;}
	.container {width: 450px;}
} /* CLOSE WIDE MOBILE LAYOUT

/* MOBILE LAYOUT (PORTRAIT/320PX) 
----------------------------------------------- */
@media only screen and (max-width: 479px) {
	/*html {background-color: orange;}*/
	.head-text {height: 68px;}
	#N, #Y {
		width: 27px;
		padding-right: 23px;
		padding-left: 23px;
	}
	#hack img {width: 195px};
} /* CLOSE MOBILE LAYOUT 